.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid #e5e7eb;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;


  .hamburger{
    display: none;
  }

  .menu{
    
  }
}

/* LOGO */
.logo {
  font-size: 22px;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;

  span {
    color: #2563eb;
  }
  img {
    height: 66px;      // perfect navbar logo height
    width: 56px;
    object-fit: contain;
  }

  h1{
    font-size: 1.7rem;
  }
}

/* LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;

  li {
    cursor: pointer;
    font-weight: 500;
    color: #444;
    position: relative;

    &:hover {
      color: #7c7d81;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0;
      height: 2px;
      background: #2563eb;
      transition: width 0.3s ease;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

/* CTA */
.nav-cta {
  display: flex;
  align-items: center;
}



@media (max-width:768px) {
  .nav-links{
    display: none;
  }

  .nav-cta{
    display: none;
  }
  
  
  
}


/* ========================= */
/* MOBILE MENU ICON */
/* ========================= */
.menu {
  display: none;
  cursor: pointer;
}

/* ========================= */
/* MOBILE VIEW ONLY */
/* ========================= */
@media (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
  }

  .menu svg {
    color: #111;
  }
}

/* ========================= */
/* OVERLAY */
/* ========================= */
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 999;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

/* ========================= */
/* MOBILE MENU PANEL */
/* ========================= */
.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 75%;
  max-width: 320px;
  border-radius: 20px;

  background:white;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);

  padding: 90px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 22px;

  transition: right 0.35s ease;
  z-index: 1000;
}

.mobile-menu.show {
  right: 0;
}

.mobile-menu a {
  font-size: 20px;
  font-weight: 500;
  color: #111;
  text-decoration: none;
}

.mobile-menu a.active {
  color: #2563eb;
}

/* ========================= */
/* DESKTOP: HARD DISABLE */
/* ========================= */
@media (min-width: 769px) {
  .menu,
  .mobile-menu,
  .overlay {
    display: none !important;
  }
}
